body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(''); /* Fundo geral */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #000000; /* Cor do cabeçalho */
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* Remove a margem do cabeçalho */
}

.logo img {
    height: 130px;
    margin-left: 40px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu ul li {
    margin: 0 15px;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 0; /* Remove o padding do main para eliminar espaços extras */
    text-align: center;
}

/* Estilo dos botões */
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Fundo específico para a seção dos botões */
#formulario {
    background-color: #ffffff; /* Cor de fundo para a seção de botões */
    background-image: url('Fondo degradado en tonos verdes _ Vector Gratis.jpeg'); /* Imagem de fundo específica para a seção */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0; /* Espaçamento interno da seção */
    margin: 0; /* Remove margens extras da seção */
}

/* Remove qualquer margem ou padding externo indesejado */
#formulario * {
    margin: 0;
    padding: 0;
}

#formulario h2 {
    font-size: 36px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    color: #000000; /* Cor do texto */
    margin: 0; /* Remove a margem padrão */
    margin-top: -50px; /* Reduzido para mover o título mais para cima */
    padding-bottom: 30px; /* Espaço abaixo do título */
    line-height: 1.0; /* Altura da linha para espaçamento vertical do texto */
}

.insurance-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Garante que os elementos internos estejam centralizados verticalmente */
    text-decoration: none;
    color: black;
    border: 2px solid #2a9d8f;
    border-radius: 10px;
    width: 300px;
    height: 200px; /* Ajuste para acomodar o botão interno */
    padding: 30px;
    background-color: transparent; /* Deixa o fundo do botão transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.insurance-button img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 50px; /* Ajuste o valor para o espaço desejado entre a imagem e o texto */
}

.insurance-button span {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px; /* Espaço entre a imagem e o texto, ajustado para aumentar o espaçamento */
    margin-bottom: 30px;
}

/* Estilo para o botão de oferta */
.offer-button {
    background-color: #2a9d8f; /* Cor de fundo do botão interno */
    color: white;              /* Cor do texto */
    padding: 15px 30px;        /* Ajuste de padding para o botão */
    border-radius: 10px;        /* Cantos arredondados */
    margin-top: auto;          /* Espaço entre o texto principal e o botão interno */
    cursor: pointer;           /* Cursor de indicação de clique */
    font-size: 18px;           /* Tamanho da fonte do botão interno */
    font-weight: bold;         /* Negrito para o texto */
    transition: background-color 0.3s;
    text-align: center;        /* Centraliza o texto dentro do botão */
    min-width: 120px;          /* Define uma largura mínima para consistência */
}

.offer-button:hover {
    background-color: #20a855; /* Cor de fundo ao passar o mouse */
}

.insurance-button:hover {
    background-color: rgba(32, 168, 85, 0.2); /* Fundo translúcido ao passar o mouse */
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#historia-visao {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    background-image: url('Fondo negro y gris con superposición de cuadrados geométricos y estilo de papel de sombra _ Vector Premium.jpeg');
    margin: 0px 0;
    height: 800px; /* Altura do section */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.retangulo {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
    border: 1px solid rgba(221, 221, 221, 0.5); /* Borda translúcida */
    background-image: url('Fondo degradado en tonos verdes _ Vector Gratis.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 90px; /* Bordas arredondadas */
    padding: 20px;
    height: 500px;
    width: 35%; /* Largura dos retângulos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para um efeito de profundidade */
    animation: moveIn 1s ease-out forwards; /* Animação de entrada com 'forwards' para manter o estado final */
    opacity: 1; /* Garante que eles permaneçam visíveis */
}

.retangulo:nth-child(1) {
    animation-delay: 0s;
}

.retangulo:nth-child(2) {
    animation-delay: 0.2s;
}

.retangulo:nth-child(3) {
    animation-delay: 0.4s;
}

.retangulo:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes moveIn {
    from {
        transform: translateX(-100%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.retangulo:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.retangulo h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333; /* Cor do título */
    font-family: 'Arial', sans-serif; /* Fonte personalizada */
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 1px; /* Espaçamento entre letras */
    text-align: center; /* Centralizar o título */
    border-bottom: 2px solid #000000; /* Linha inferior */
    padding-bottom: 10px; /* Espaçamento inferior */
}

.retangulo p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #000000; /* Cor do texto */
    font-family: 'Georgia', serif; /* Fonte serifada para o parágrafo */
    text-align: justify; /* Justificar o texto */
    padding: 10px; /* Adiciona espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas para o texto */
}

#three-images-section {
    position: relative; /* Para que o pseudo-elemento seja posicionado em relação ao elemento pai */
    background-color: #ffffff; /* Cor de fundo para a seção de imagens */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0; /* Espaçamento interno da seção */
    z-index: 1; /* Garante que o conteúdo da seção fique acima do pseudo-elemento */
}

#three-images-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6); /* Sobreposição semitransparente */
    z-index: -1; /* Garante que a sobreposição fique atrás do conteúdo */
}

#three-images-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#three-images-section .container img {
    max-width: 30%;
    height: auto;
    border-radius: 10px; /* Bordas arredondadas para as imagens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de profundidade */
    transition: transform 0.3s, box-shadow 0.3s;
}

#three-images-section .container img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }

    .nav-menu ul li a {
        font-size: 20px;
        padding: 10px 20px;
    }
}
