body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(''); /* Fundo geral */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo do cabeçalho */
header {
    background-color: #000000; /* Cor do cabeçalho */
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; /* Remove a margem do cabeçalho */
    position: relative; /* Necessário para o menu de hambúrguer */
}

.logo img {
    height: 130px; 
    margin-left: 40px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.menu-icon {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 5px 0;
}

/* Menu */
nav {
    padding-left: 20px; /* Adiciona padding à esquerda do menu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

/* Menu de hambúrguer */
nav.nav-menu {
    display: flex;
}

nav.nav-menu ul {
    display: flex;
}

.menu-toggle {
    display: none;
}

/* Estilo para dispositivos móveis */
@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 0;
        width: 100%;
        background-color: #000000;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

/* Estilo para tablets */
@media (min-width: 601px) and (max-width: 900px) {
    nav ul li {
        display: inline-block;
        margin: 0 5px;
    }
    
    .container {
        width: 90%;
    }
}

main {
    padding: 0; /* Remove o padding do main para eliminar espaços extras */
    text-align: center;
}

/* Estilo dos botões */
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Fundo específico para a seção dos botões */
#formulario {
    background-color: #ffffff; /* Cor de fundo para a seção de botões */
    background-image: url('Fondo\ degradado\ en\ tonos\ verdes\ _\ Vector\ Gratis.jpeg'); /* Imagem de fundo específica para a seção */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0; /* Espaçamento interno da seção */
    margin: 0; /* Remove margens extras da seção */
}

/* Remove qualquer margem ou padding externo indesejado */
#formulario * {
    margin: 0;
    padding: 0;
}

#formulario h2 {
    font-size: 36px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    color: #000000; /* Cor do texto */
    margin: 0; /* Remove a margem padrão */
    margin-top: -50px; /* Reduzido para mover o título mais para cima */
    padding-bottom: 30px; /* Espaço abaixo do título */
    line-height: 1.0; /* Altura da linha para espaçamento vertical do texto */
}

.insurance-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Garante que os elementos internos estejam centralizados verticalmente */
    text-decoration: none;
    color: black;
    border: 2px solid #2a9d8f;
    border-radius: 10px;
    width: 300px;
    height: 200px; /* Ajuste para acomodar o botão interno */
    padding: 30px;
    background-color: transparent; /* Deixa o fundo do botão transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.insurance-button img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 50px; /* Ajuste o valor para o espaço desejado entre a imagem e o texto */
}

.insurance-button span {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px; /* Espaço entre a imagem e o texto, ajustado para aumentar o espaçamento */
    margin-bottom: 30px;
}

/* Estilo para o botão de oferta */
.offer-button {
    background-color: #2a9d8f; /* Cor de fundo do botão interno */
    color: white;              /* Cor do texto */
    padding: 15px 30px;        /* Ajuste de padding para o botão */
    border-radius: 10px;        /* Cantos arredondados */
    margin-top: auto;          /* Espaço entre o texto principal e o botão interno */
    cursor: pointer;           /* Cursor de indicação de clique */
    font-size: 18px;           /* Tamanho da fonte do botão interno */
    font-weight: bold;         /* Negrito para o texto */
    transition: background-color 0.3s;
    text-align: center;        /* Centraliza o texto dentro do botão */
    min-width: 120px;          /* Define uma largura mínima para consistência */
}

.offer-button:hover {
    background-color: #20a855; /* Cor de fundo ao passar o mouse */
}

.insurance-button:hover {
    background-color: rgba(32, 168, 85, 0.2); /* Fundo translúcido ao passar o mouse */
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#historia-visao {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    background-image: url('Fondo\ negro\ y\ gris\ con\ superposición\ de\ cuadrados\ geométricos\ y\ estilo\ de\ papel\ de\ sombra\ _\ Vector\ Premium.jpeg');
    margin: 0px 0;
    height: 800px; /* Altura do section */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.retangulo {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
    border: 1px solid rgba(221, 221, 221, 0.5); /* Borda translúcida */
    background-image: url('Fondo\ degradado\ en\ tonos\ verdes\ _\ Vector\ Gratis.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 90px; /* Bordas arredondadas */
    padding: 20px;
    height: 500px;
    width: 35%; /* Largura dos retângulos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para um efeito de profundidade */
    animation: moveIn 1s ease-out forwards; /* Animação de entrada com 'forwards' para manter o estado final */
    opacity: 1; /* Garante que eles permaneçam visíveis */
    position: relative; /* Necessário para usar transformações de posição */
}

.retangulo:nth-child(1) {
    animation: moveInFromLeft 1s ease-out forwards;
}

.retangulo:nth-child(2) {
    animation: moveInFromRight 1s ease-out forwards;
}

.retangulo:nth-child(3) {
    animation: moveInFromTop 1s ease-out forwards;
}

.retangulo:nth-child(4) {
    animation: moveInFromBottom 1s ease-out forwards;
}

@keyframes moveInFromLeft {
    from {
        transform: translateX(-100%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes moveInFromRight {
    from {
        transform: translateX(100%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes moveInFromTop {
    from {
        transform: translateY(-100%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes moveInFromBottom {
    from {
        transform: translateY(100%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
